.tabs
{
    padding: 0;
    border-bottom: 1px solid #898989; 
    /*height:19px;*/
}

.clearfix
{
    display: block;
    zoom: 1;
}

.clearfix::after
{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.tabs .left_tabs
{
    padding-left: 10px;
    text-align:left;
    /*float: left;*/
}

.toggle_tabs
{
    text-align: left;
    margin-bottom: -1px;
}

.toggle_tabs li
{
    display: inline;
    padding: 2px 0 3px;
    background: #F1F1F1 url('../img/bg_gris.gif') repeat-x left top;
}


.toggle_tabs li a
{
    border-left: 0;
    color: #333;
    font-weight: bold;
    padding: 2px 8px 3px 9px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #898989;
    text-decoration: none;
}

.toggle_tabs li.first a.selected
{
    margin: 0;
    border-left: 1px solid #36538F;
    border-right: 1px solid #5973A9;
}


.toggle_tabs li a.selected
{
    margin-left: -1px;
    background: #6D84B4;
    border: 1px solid #3B5998;
    border-left: 1px solid #5973A9;
    border-right: 1px solid #5973A9;
    color: white;
}


.left_tabs ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

