<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"> </sectionGroup>
    <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
    </sectionGroup>

    <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
      <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
      <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
      <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
    </sectionGroup>

  </configSections>

  <appSettings>
    <!-- NO -> indica que el usuario y password de la base de datos no esta encriptado
         SI -> indica que el usuario y password de la base de datos si esta encriptado-->
    <add key="EncriptarCadena" value="NO" />
    <add key="LenguajeDesarrollo" value="ESP" />
    <add key="CadenaVector" value="CideGalexitoCideGalexito" />
    <add key="CadenaClave" value="CideCide" />

    <add key="AplicacionCodigo" value="GES-SNT" />
    <add key="CompaniaGeneral" value="0000000000" />
    <add key="CommandTimeout" value="120" />
    <add key="FormatoFecha" value="dd/MM/yyyy" />
    <add key="FormatoFechaHora" value="dd/MM/yyyy HH:mm:ss.fff" />
    <add key="FormatoFechaJQuery" value="dd/mm/yy" />

    <add key="BDCadenaConexion" value="Data Source=PCPOOL\SQL2008R2;Initial Catalog=FDR_SPRING;Persist Security Info=True;User ID=sa;Password=abc#123; Pooling = true; Min Pool Size=4;Max Pool Size=10;" />
    <add key="RSCadenaConexion" value="URLServer=http://pcpool:8090/ReportServer_SQL2008R2; Path=/FDR ;UserId=POOL; Password=123; Timeout=600000;" />
    <add key="ISCadenaConexion" value="Server=SSET002; Dts=\File System\;" />
    <!-- Indica el correo electronico para contactos-->
    <add key="AplicacionKeyDesarrollo" value="NKPMKndE67C2cB40vqEXWIg0ntm%2byVVJX1AvAirwJ0PacUsJIFxdxlKn5VhPG66%2bGk2WC0BdDI8tzKB7f%2fVaH59VYn1QXmz0%2fe1K189mxm4N70RARwiH3Z15MHwoeRXVUXr068JJnTTx%2fVgAxWUB2g%3d%3d" />
  </appSettings>


  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/seg/segInterchangeSendHome.aspx?a=s" timeout="2880"/>
    </authentication>
    <httpRuntime maxRequestLength="10240" executionTimeout="900" useFullyQualifiedRedirectUrl="false" />
    <sessionState mode="InProc" cookieless="false" timeout="90" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    


    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>

  </system.web>


  <system.webServer>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <remove name="WebServiceHandlerFactory-Integrated" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=EmulateIE8" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCAplicacion" />
        <binding name="BasicHttpBinding_IWCMenu" />
        <binding name="BasicHttpBinding_IWCUsuario" />
        <binding name="BasicHttpBinding_IWCCompania" />
        <binding name="BasicHttpBinding_IWCReporte" />
        <binding name="BasicHttpBinding_IWCParametro" />
        <binding name="BasicHttpBinding_IWCParametroDetalle" />
        <binding name="BasicHttpBinding_IWCContenido" />
        <binding name="BasicHttpBinding_IWCCentroCosto" />
        <binding name="BasicHttpBinding_IWCPersona" />
        <binding name="BasicHttpBinding_IWCAplicacionDominio" />
      </basicHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gen/WCAplicacion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCAplicacion" contract="WCAplicacion.IWCAplicacion" name="BasicHttpBinding_IWCAplicacion" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Seg/WCMenu.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCMenu" contract="WCMenu.IWCMenu" name="BasicHttpBinding_IWCMenu" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Seg/WCUsuario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCUsuario" contract="WCUsuario.IWCUsuario" name="BasicHttpBinding_IWCUsuario" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gen/WCCompania.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCCompania" contract="WCCompania.IWCCompania" name="BasicHttpBinding_IWCCompania" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gen/WCReporte.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCReporte" contract="WCReporte.IWCReporte" name="BasicHttpBinding_IWCReporte" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametro.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCParametro" contract="WCParametro.IWCParametro" name="BasicHttpBinding_IWCParametro" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gen/WCParametroDetalle.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCParametroDetalle" contract="WCParametroDetalle.IWCParametroDetalle" name="BasicHttpBinding_IWCParametroDetalle" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gcg/WCContenido.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCContenido" contract="WCContenido.IWCContenido" name="BasicHttpBinding_IWCContenido" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gen/WCCentroCosto.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCCentroCosto" contract="WCCentroCosto.IWCCentroCosto" name="BasicHttpBinding_IWCCentroCosto" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gen/WCPersona.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCPersona" contract="WCPersona.IWCPersona" name="BasicHttpBinding_IWCPersona" />
      <endpoint address="http://localhost:8080/FDR.Galexito.WS/Gen/WCAplicacionDominio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCAplicacionDominio" contract="WCAplicacionDominio.IWCAplicacionDominio" name="BasicHttpBinding_IWCAplicacionDominio" />
    </client>

    <services>
      <service name="WCServicio" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="JsonBehavior" bindingConfiguration="" contract="IWCServicio"/>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>

    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
    </standardEndpoints>-->

  </system.serviceModel>



  <log4net>
    <logger name="gescon.logger" />
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <file value="log/Error.log" />
      <appendToFile value="false" />
      <maximumFileSize value="10KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline ******************** %newline %date %level %thread %logger - %message %newline" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <file value="log/Debug.log" />
      <appendToFile value="false" />
      <maximumFileSize value="10KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline ******************** %newline %date %level %thread %logger - %message %newline" />
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <file value="log/Info.log" />
      <appendToFile value="false" />
      <maximumFileSize value="10KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline ******************** %newline %date %level %thread %logger - %message %newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="DebugAppender" />
      <appender-ref ref="InfoAppender" />
    </root>
  </log4net>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>